<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ColegioSJ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100 bg-light">

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark py-3 border-bottom border-1" style="background-color: #BBD5DA; border-color: #BBD5DA !important;">
            <div class="container">
                <a class="navbar-brand fw-bold text-black" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-mortarboard-fill text-black me-2"></i>COLEGIO SAN JOSÉ
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link fw-bold fs-5 text-dark me-2" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto py-4 border-top shadow-lg" style="background-color: #BBD5DA; border-color: #BBD5DA !important;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start text-muted small">
                    &copy; @DateTime.Now.Year - Colegio San José | Desarrollado por <strong>Yesenia Alas</strong>
                </div>
              
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>